.columnRight {
  margin: 0;
  overflow: auto;
  padding: 3rem;
  padding-top: 0;
}

.columnRight > div:not(:first-child) {
  margin-top: 6rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  max-height: 80vh;
}
.scroll {
  overflow-y: auto;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

h1 {
  margin-bottom: 0.5rem;
}
