header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 4.5rem;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: #cdcdcd;
}

nav {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  cursor: pointer;
  padding: 0 1.2rem;
  display: inline-block;
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  color: #cdcdcd;
}

.toggleButton {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }

  .selected {
    display: none;
  }

  .activated span {
    position: absolute;
    transition: 0.25s ease-in-out;
  }

  .activated span:nth-child(1) {
    transform-origin: left center;
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
  }

  .activated span:nth-child(2) {
    transform-origin: left center;
    opacity: 0;
    width: 0%;
  }

  .activated span:nth-child(3) {
    transform-origin: left center;
    transform: rotate(-45deg);
    top: 18px;
    left: 5px;
  }

  .deactivated span {
    transition: 0.25s ease-in-out;
  }

  .toggleButton {
    display: flex;
  }

  nav {
    display: none;
  }

  nav ul li {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .show {
    display: flex;
  }

  .show > {
  }

  nav ul {
    padding: 0;
    width: 100%;
    margin-top: 0;
  }

  nav ul :not(:first-child) {
    margin-top: 0.5rem;
  }

  header :nth-child(2) {
    width: 100%;
    order: 3;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.selected {
  margin-top: 0.25rem;
  transition: opacity 1s linear;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-bottom: 2px solid rgb(83, 83, 83);
}

.active > div {
  opacity: 1;
  animation: fade 1s;
  visibility: visible;
}
