.layout {
  margin: 1rem auto;
  max-width: 80vw;
  max-height: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;
  height: 70vh;
  overflow: auto;
}

.columnLeft {
  padding-right: 2rem;
}

.columnRight {
  margin-left: auto;
  overflow: auto;
}

.fixedBottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    padding-top: 2rem;
  }

  .columnRight,
  .columnLeft {
    margin: 0;
    padding: 0;
  }

  .columnRight {
    margin-top: 1rem;
  }
}
